<table class="table mt-4">
  <% datas.each do |log| %>
  <tbody>
    <tr>
      <th class="pt-2">
        <%= attachment_image_tag log.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40', class:"rounded-circle" %>
        <%= link_to log.user.name, user_path(log.user_id), class:"text-decoration-none" %>
      </th>
      <th class="pt-3">
        <%= link_to log.coffee_name, log_path(log.id), class:"text-decoration-none" %>
      </th>
      <th class="pt-3">
        <%= log.shop_name %>
      </th>
      <th class="pt-3">
        <%= log.roast %>
      </th>
      <th class="pt-3">
        <div id="star-rate-<%= log.id %>"></div>
        <script>
        $('#star-rate-<%= log.id %>').raty({
         size: 38,
         starOff:  '<%= asset_path('star-off.png') %>',
         starOn : '<%= asset_path('star-on.png') %>',
         starHalf: '<%= asset_path('star-half.png') %>',
         half: true,
         readOnly: true,
         score: <%= log.rate %>,
        });
        </script>
      </th>
    </tr>
  </tbody>
  <% end %>
</table>