<div class="container">
    <% if @model == "user" %>
    <div class="container">
    <h2 class="text-center pt-5">'<%= @value %>'に一致するユーザー</h2>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>ユーザー名</th>
                <th>自己紹介</th>
            </tr>
        </thead>
    <% @datas.each do |user| %>
        <tbody>
            <tr>
                <th>
                    <%= attachment_image_tag(user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>
                </th>
                <th class="pt-3">
                    <%= link_to user.name, user_path(user.id) %>
                </th>
                <th class="pt-3">
                    <%= user.introduction %>
                </th>
            </tr>
        </tbody>
    <% end %>
    <% elsif @model == "log" %>
    <div class="container">
    <h2 class="text-center pt-5">'<%= @value %>'に一致するLog</h2>
    <table class="table mt-4">
        <thead>
            <tr>
                <th>ユーザー名</th>
                <th>コーヒーの名前</th>
                <th>購入店</th>
                <th>総合評価</th>
            </tr>
        </thead>
        <% @datas.each do |log| %>
        <tbody>
            <tr>
                <th>
                    <%= attachment_image_tag(log.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size:'40x40') %>
                    <%= link_to log.user.name, user_path(log.user_id) %>
                </th>
                <th>
                    <%= link_to log.coffee_name, log_path(log.id) %>
                </th>
                <th>
                    <%= log.shop_name %>
                </th>
                <th>
                    <p class="star-rate" data-score="<%= log.rate %>"></p>
                </th>
            </tr>
        </tbody>
        <% end %>
        <script>
            $('.star-rate').raty({
            readOnly: true,
            score: function() {
            return $(this).attr('data-score');
            },
            path: '/assets/'
            });
        </script>
    <% end %>
    </table>
    </div>
  </div>
</div>