<% logs.each do |log| %>
  <div class="cantainer">
    <div class="row">
      <div class="comment-icon col-4">
        <%= link_to log_path(log.id) do %>
          <% log.log_images.first(1).each do |log_image| %>
        　　<%= attachment_image_tag log_image, :image, size: "150x150", class:"text-decoration-none" %>
        　<% end %>
        <% end %>
      </div>
      <div class="col-8 pt-4">
        <p class="index-text"><%= link_to log.coffee_name, log_path(log.id), class:"text-decoration-none" %></p>
        <p class="index-text">購入店：<%= log.shop_name %></p>
        <p class="index-text">ユーザー：<%= link_to log.user.name, user_path(log.user_id), class:"text-decoration-none" %></p>
        <p id="star-rate-<%= log.id %>">総合評価：</p>
        <script>
        $('#star-rate-<%= log.id %>').raty({
         size: 38,
         starOff:  '<%= asset_path('star-off.png') %>',
         starOn : '<%= asset_path('star-on.png') %>',
         starHalf: '<%= asset_path('star-half.png') %>',
         half: true,
         readOnly: true,
         score: <%= log.rate %>,
        });
        </script>
      </div>
    </div>
  </div>
<% end %>
