<div class="log-form">
    <%= form_with model: @log, local: true do |f| %>
      <div class="form-detail">
      　<%= f.label :"コーヒーの産地・銘柄・処理方法" %>
      　<%= f.text_field :coffee_name, placeholder:"例）エチオピア ボンベ ナチュラル" %>
      </div>

      <div class="form-detail">
      　<%= f.label :"購入店" %>
      　<%= f.text_area :shop_name, placeholder:"例）DMM COFFEE" %>
      </div>

      <div class="form-detail">
      　<%= f.label :"購入価格" %>
      　<%= f.text_field :size, placeholder:"1500" %>　円
      </div>

      <div class="form-detail">
      　<%= f.label :"購入日・飲んだ日" %>
      　<%= f.date_select :drink_date %>
      </div>

      <div class="form-detail">
      　<%= f.label :"淹れ方" %>
      　<%= f.select :brew, [["ハンドドリップ"],["コールドブリュー（水出し）"],["フレンチプレス"],["エスプレッソ"],["その他"]] %>
      </div>

      <div class="form-detail">
      　<%= f.label :"焙煎度" %>
      　<%= f.select :roast, [["浅煎り"],["中浅煎り"],["中煎り"],["中深煎り"],["深煎り"]] %>
      </div>

      <div class="form-detail">
      　<%= f.label :"酸味・苦味" %>
      　<%= f.select :taste, [["酸味が強い"],["やや酸味が強い"],["バランス"],["やや苦味が強い"],["苦味が強い"]] %>
      </div>

      <div class="form-detail">
      　<%= f.label :"ボディ（コク）" %>
      　<%= f.select :body, [["フルボディ（コクが強い）"],["ミディアムボディ（程よいコク）"],["ライトボディ（すっきり）"]] %>
      </div>

      <div class="form-detail">
      　<%= f.label :"メモ" %>
      　<%= f.text_area :memo, placeholder:"例）ベリーのような酸味/ナッツのような香り お店の雰囲気も良かった！ etc...", class:"form-input-introduction" %>
      </div>

      <div class="star-form-group" id="star1">               <%#id要素の付与がポイント%>
        <%= f.label :rate,'総合評価' %>　<%#保存したいカラムの指定%>
      </div>


      <div class="form-detail">
      　<%= f.label :"画像" %>
      　<%= f.attachment_field :log_images_images, multiple: true %>
      　<p>画像を複数投稿する際は、Shiftキーを押しながらマウスでクリックして選択してください。</p>
      </div>

      <div class="form-detail">
        <%= f.submit :"Logを保存する"  %>
      </div>
    <% end %>
    <script>
    $('#star1').raty({
      size     : 38,                                    //星のサイズ
      starOff:  '<%= asset_path('star-off.png') %>',    //imagesフォルダより星画像の呼び出し
      starOn : '<%= asset_path('star-on.png') %>',
      starHalf: '<%= asset_path('star-half.png') %>',
      scoreName: 'log[rate]',     //reviewモデルのcomfortカラムに保存
      half: true,                       //星半分を許可する。DBには0.5単位の数値が保存される
    });
    </script>
  </div>