<div class="container" >
  <div class="row">
    <div class="col-6 col-md-8 p-5">
      <h2><%= @log.coffee_name %></h2>
      <% @log.log_images.each do |log_image| %>
      　<%= attachment_image_tag log_image, :image, size: "150x150", class:"mt-2 mb-3" %>
      <% end %>
      <p class="show-text bold">ユーザー：<%= link_to @log.user.name, user_path(@log.user_id), class:"text-decoration-none" %></p>
      <p class="show-text bold">購入店：<%= @log.shop_name %></p>
      <p class="show-text bold">購入価格：<%= @log.price %>円</p>
      <p class="show-text bold">淹れ方：<%= @log.brew %></p>
      <p class="show-text bold">焙煎度：<%= @log.roast %></p>
      <p class="show-text bold">酸味・苦味：<%= @log.taste %></p>
      <p class="show-text bold">ボディ（コク）：<%= @log.body %></p>
      <p class="show-text bold">メモ：<%= @log.memo %></p>
      <p class="star-rate" data-score="<%= @log.rate %>">総合評価：</p>
      <% if @log.user == current_user %>
        <!--編集画面へのリンクボタン-->
        <%= link_to "Edit", edit_log_path(@log), class:"btn btn-outline-success" %>
        <!--削除ボタン-->
        <%= link_to "Destroy", log_path(@log), method: :delete, class:"btn btn-outline-danger" %>
      <% end %>
      <script>
        $('.star-rate').raty({
        readOnly: true,
        score: function() {
        return $(this).attr('data-score');
        },
        path: '/assets/'
        });
      </script>
    </div>
    <div class="col-12 col-sm-6 col-md-4 p-5">
      <%= render 'log-comment', log: @log, log_comment: @log_comment %>
    </div>
  </div>
</div>